/* Just simple by importing tailwindcss, it will by default strip away browser styling on buttons, h1 etc*/
@import "tailwindcss";

/* Order that should go in:
    base
    components
    utilities
*/

@theme {
  --color-background: var(--color-zinc-200);
  --color-foreground: var(--color-zinc-700);
  --color-primary: var(--color-indigo-600);
  --color-destructive: var(--color-red-600);
  --color-warning: var(--color-orange-600);
  --color-shadow: rgba(0,0,0, 0.15);
  --color-highlight: var(--color-white);
  --shadow-raised: inset 0px 0px 0px var(--color-shadow), inset 0px 0px 0px var(--color-highlight), 2px 2px 6px var(--color-shadow), -2px -2px 6px var(--color-highlight);
  --shadow-inset: 0px 0px 0px var(--color-shadow), 0px 0px 0px var(--color-highlight), inset 2px 2px 6px var(--color-shadow), inset -2px -2px 6px var(--color-highlight); /* inset must be on both, if on the first one, it will look like press at the top-left corner only */
  --color-muted: var(--color-zinc-300);
  --color-muted-foreground: var(--color-zinc-600);
}

@layer theme {
  .dark {
    --color-background: var(--color-zinc-900);
    --color-foreground: var(--color-zinc-100);
    --color-primary: var(--color-indigo-400);
  }
}

@layer base {
  html, body {
    /* How to apply --color-background varialble to bg and --color-foreground to text */
    @apply bg-background text-foreground
  }
}
