/* Just simple by importing tailwindcss, it will by default strip away browser styling on buttons, h1 etc*/
@import "tailwindcss";

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));

/* Order that should go in:
    base
    components
    utilities
*/

@theme {
  --color-background: var(--color-zinc-200);
  --color-foreground: var(--color-zinc-700);
  --color-primary: var(--color-indigo-600);
  --color-destructive: var(--color-red-600);
  --color-warning: var(--color-orange-600);
  --color-border: var(--color-zinc-100); /* When you add a color variable, you will need to add for both, otherwise it will not take effect */
  --color-shadow: rgba(0,0,0, 0.2);
  --color-highlight: rgba(255, 255, 255, 1);

  /* In order to give that cushions look and nice animation when it is clicked, the --shadow-raise and --shadow-inset need to be in the same order, e.g. normal value first and then inset value last */
  --shadow-raised: 2px 2px 6px var(--color-shadow), -2px -2px 6px var(--color-highlight), inset 0px 0px 0px var(--color-shadow), inset 0px 0px 0px var(--color-highlight), inset 1px 1px 2px var(--color-edge);
  /*--shadow-inset: 0px 0px 0px var(--color-shadow), 0px 0px 0px var(--color-highlight), inset 2px 2px 6px var(--color-shadow), inset -2px -2px 6px var(--color-highlight); !* inset must be on both last value, if on the first one, it will look like press at the top-left corner only *!*/
  --shadow-inset: 1px 1px 2px var(--color-shadow), -1px -1px 2px var(--color-highlight), inset 2px 2px 6px var(--color-shadow), inset -2px -2px 6px var(--color-highlight); /* Keeping the border for inset, give better accessibility */
  --color-muted: var(--color-zinc-300);
  --color-muted-foreground: var(--color-zinc-600);
}

@layer theme {
  .dark {
    --color-background: var(--color-zinc-900);
    --color-foreground: var(--color-zinc-100);
    --color-shadow: rgba(0, 0, 0, 0.75);
    --color-highlight: rgba(255, 255, 255, 0.2);
    --color-border: var(--color-zinc-950);
    --color-primary: var(--color-indigo-400);
    --color-destructive: var(--color-red-400);
    --color-warning: var(--color-orange-400);
    --color-muted: var(--color-zinc-700);
    --color-muted-foreground: var(--color-zinc-400);
  }
}

@layer base {
  html, body {
    /* How to apply --color-background varialble to bg and --color-foreground to text */
    @apply bg-background text-foreground
  }
}
